*{
    margin: 0px;
    padding: 0px;
}
p {
    font-family: 'Kanit', sans-serif;
    color: #D8D8D8 ;
}
a {
    font-family: 'Kanit', sans-serif;
    color: #D8D8D8 ;
}

.menu-bar li{
    font-family: 'Merriweather', serif;
    font-weight: 900 ;
    float: left ;
    margin-left: 80px ;
    list-style: none ;
    margin-top: 25px ;
}

.menu-bar li:last-child{
    margin-left: 0;
    margin-right: 80px ;
    float: right;
}

.menu-bar li a{
    color: #9E9E9E ;
    text-decoration: none;
}

.menu-bar li a:hover {
    color: #fff ;
    font-size: 110% ;
    transition-duration: 0.3s ;
}

header {
    height: 80px;
    background-color: #000 ;
}

footer {
    background-color: #000 ;
    height: 32px ;
}

.main-content {
    height: 100vh ;
    background: url(background-img.png);
    background-size: cover;
    background-attachment: fixed;
}

.clear {
    clear: both ;
}

.content-1 {
    margin: 0 auto ;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) ;
    width: 1000px ;
    height: auto ;
    border-radius: 40px ;
}

.content-1 p {
    padding: 30px 0 30px 80px ;
    color: #D8D8D8 ;
    font-weight: 200 ;
    float: left ;
}

.content-1 .video-preview {
    margin-top: 20px ;
    margin-right: 80px ;
    float: right;
}

.button-play {
    margin-top: 15px ;
    width: 180px ;
}

.video-preview a{
    font-weight: bold ;
    color: #8b8b8b ;
    text-decoration: none ;
    background: url(icon-playbutton.png);
    background-size: contain ;
    background-position: left;
    background-repeat: no-repeat;
    padding: 6px 0px 6px 45px ;
}

.video-preview a:hover {
    filter: brightness(180%);
    font-size: 105% ;
    transition-duration: 0.4s ;
}

.content-1 video {
    border-radius: 10px ;
    width: 300px ;
    height: auto ;
}

.fakediv {
    padding: 30px 0;
}
